<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="newConnection" providerName="System.Data.SqlClient" connectionString="Server=tcp:filmrecommenderserver.database.windows.net,1433;Database=dbFilmRecommender;User ID=admin1;Password=Kourva2266@!;Trusted_Connection=False;Encrypt=True;" />
</connectionStrings>
